<link rel="stylesheet" href="../css/style.css" />

<nav class="site-nav">
    <div class="container">
    <div class="menu-bg-wrap">
        <div class="site-navigation">
        <div class="row g-0 align-items-center">
            <a href="/" class="col-4 logo m-0 float-start">TechNoobs<span
                class="text-primary"
            >.</span></a>
            <div class="col-8 text-end">
            {{#if logged_in}} 
                <a href="/" type="button" class="btn btn-sm btn-outline-light">Home</a>  
                <a href="/logout" type="button" class="btn btn-sm btn-outline-light">Logout</a>  
            {{else}} 
                <a href="/login" type="button" class="btn btn-sm btn-outline-light">Login</a>  
            {{/if}}
         
            </div>
        </div>
        </div>
    </div>
    </div>
</nav>

<div class="hero overlay inner-page bg-primary py-5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center pt-5">
      <div class="col-lg-6">
        <h1 class="heading text-white mb-3">TechNoobs</h1>
        {{#if logged_in}} 
            <h4 class="text-white">Welcome {{userDataPlain.first_name}} {{userDataPlain.last_name}}</h4>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="section search-result-wrap">
  <div class="container">
    <div class="row posts-entry mb-5">
        
        <!-- Modal -->
    {{#if logged_in}} 
        <p><Button href="/blog/{{id}}" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#newBlogPostModal">Add New Blog Post</Button></p>
    {{/if}}
        <div class="modal fade" id="newBlogPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{!-- <div class="comment-form-wrap"> --}}
                        <form id ="newBlogFrom" action="#" class="p-5 ">
                            <div class="form-group">
                                <label for="newBlogFromTitle">Blog Title</label>
                                <input type="text" class="form-control" id="newBlogFromTitle">
                            </div>
                            <div class="form-group">
                                <label for="newBlogFromContent">Blog Message</label>
                                <textarea name="" id="newBlogFromContent" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                                <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                    {{!-- </div> --}}
                </div>

                </div>
            </div>
        </div>


    </div>  
    <div class="row posts-entry">

      {{#each userDataPlain.blogs as |blog|}}
        {{> blogHome-details}}
      {{/each}}

    </div>
  </div>
</div>

<script src="../js/bootstrap.bundle.min.js"></script>
<script src="../js/dashboard.js"></script>